
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading-ellipsis::after {
	display: inline-block;
      animation: dotty steps(1,end) 1s infinite;
      content: '';
}
:root {
  color-scheme: light dark;
}

@keyframes dotty {
    0%   { content: ''; }
    25%  { content: ' .'; }
    50%  { content: ' ..'; }
    75%  { content: ' ...'; }
    100% { content: ''; }
}